#container{
  height: calc(100vh - 250px);
  display: flex;
}
#nav{
  flex: 2;
  background-color: rgba(116, 223, 22, 0.932);
}
#main{
  flex:3;
  background-color: orange;

}
#container-aside{
  flex:1;


}

#nav , #main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  border: 4px yellow solid;
}

@media screen and  (max-width: 600px) {
  #container{
    flex-direction: column;
  }
  }

